body{
  background-color: #f77754;
}

p{
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: #0a516d;

}
h3{
  font-family: Verdana, sans-serif;
  color: #2b2726;
}
h5{
  color: #018790;
}

#yellowTag {
  height: 195px;
  margin-left: 25px;
}
#blueTag{
  height: 195px;
  margin-left: 25%;
}

.header{
  text-align: center;

}
.sun{
  height: 450px;
    margin-left: 245px;
    
}

.sun-top{
  margin-left: 218px;
}

.top{
  text-align: center;
  position: absolute;
  top: 50px;
  right: 0px;
  left: 0px;


}

.bottom{
  text-align: center;

}

.crystals{
      margin-top: 15px;

}

#rightCloud{
  margin-left: 150px;
margin-bottom: 200px;

}
.footer{

}

@media screen and (max-width: 992px){
  .sun-top{
    margin-left: 110px;
  }
  .sun{

      margin-left: 0px;
  }

  #blueTag{

    margin-left: 7%;
  }


#rightCloud{
  margin-left: 22px;
}

@media screen and (max-width: 600px){
  #blueTag{

    margin-left: 70px;

  }

  #redTag{
    margin-left: 75px;
  }
.sun-top{
  margin-left: 68px;
}

#rightCloud{
  margin-left: 350px;
}
.bottom{
  margin-right: 5px;
}

}
